.svg-icon_social-facebook-dims {
	width: 31.374px;
	height: 31.4px;
}

.svg-icon_social-instagram-dims {
	width: 31.374px;
	height: 31.4px;
}

.svg-icon_social-twitter-dims {
	width: 31.375px;
	height: 31.4px;
}

.svg-icon_social-vkontakte-dims {
	width: 31.374px;
	height: 31.4px;
}

